<!DOCTYPE html>
<html>
<head>
    <meta charset="[% settings.charset %]">
    <title>phormat</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
    [% IF !vars.user %]
        <a href="/auth/github">Login with github</a>
        <a href="/auth/facebook">or Facebook login</a>
    [% END %]
[% content %]
<div id="footer">
</div>
    <script src="/javascripts/phormat.js"></script>
    <script src="/bower_components/platform/platform.js"></script>
    <script src="/bower_components/jquery/jquery.js"></script>
    <script src="/bower_components/bower-qtip2/jquery.qtip.js"></script>
</body>
</html>
