<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="[% settings.charset %]">
    <title>phormat</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/phormat.js"></script>
</head>
<body>
    [% content %]
</body>
</html>
