<link rel="import" href="/elements/phormat-user.html">
<link rel="import" href="/bower_components/polymer-ui-tabs/polymer-ui-tabs.html">

<header>
    <polymer-ui-tabs selected="1">
        <phormat-user></phormat-user>
        <span>Private</span>
        <span>Public</span>
    </polymer-ui-tabs>
</header>
